[general]

# DEBUG,INFO,WARNING,ERROR
log_level = INFO
logfile = /media/pi/opencvcam/logfile.txt
display_video = 0
# inference_type = inference-opencv | inference-degirum-hailo | none
inference_type = inference-degirum-hailo
media_directory = /media/pi/opencvcam
days_media_stored = 3
restart_camera_timeout_seconds = 300
save_motion_images = 1
draw_inference_boxes = 1
save_inference_whitelist_images = 1

[cameras_detection]

side_alley = rtsp://192.168.1.12:554/user=admin&password=password&channel=1&stream=1.sdp
back_garden = rtsp://192.168.1.16:554/user=admin&password=password&channel=1&stream=1.sdp
front_garden = rtsp://192.168.1.15:554/user=admin&password=password&channel=1&stream=1.sdp
drive = rtsp://192.168.1.14:554/user=admin&password=password&channel=1&stream=1.sdp
sannce = rtsp://admin:password@192.168.1.17:554/H264/ch1/sub/av_stream
#test_video = file:/home/pi/Documents/OpenCVCam/test.mp4

[recorded_video]
# 
# Run cron_hourly.sh produced here in cron
#

side_alley = rtsp://192.168.1.12:554/user=admin&password=password&channel=1&stream=0.sdp
back_garden = rtsp://192.168.1.16:554/user=admin&password=password&channel=1&stream=0.sdp
front_garden = rtsp://192.168.1.15:554/user=admin&password=password&channel=1&stream=0.sdp
drive = rtsp://192.168.1.14:554/user=admin&password=password&channel=1&stream=0.sdp
sannce = rtsp://admin:password@192.168.1.17:554/H264/ch1/main/av_stream

[motion]

draw_contour_debug = 0
draw_potentially_significant_motion_debug = 0
masks_directory = /media/pi/opencvcam/masks
fps = 10
max_image_object_size = 1075200
gaussian_kernel_size = 11
pixel_delta_threshold = 25
delta_frame_opening = 5
minimum_motion_screen_percent = 0.25
motion_contours_to_consider = 10
contour_combine_distance = 50


[inference-opencv]
config=yolo/yolov3.cfg
weights=yolo/yolov3.weights
classes=yolo/coco.names
yolo_confidence=0.4
yolo_iou_threshold=0.3
model_width = 416
model_height = 416
blacklist=toilet,tv
whitelist=person,bird,cat,dog,bench

[inference-degirum-hailo]
device_type = HAILORT/HAILO8L
inference_host_address = @local
zoo_url = ../hailo_examples/models
model_confidence = 0.4
token = 
model_name = yolov8n_coco--640x640_quant_hailort_multidevice_1
model_width = 640
model_height = 640
blacklist=toilet,tv
whitelist=person,bird,cat,dog,bench

[mqtt]
mqtt_ip_address = 192.168.1.51
mqtt_port = 1883
mqtt_username = mqtt
mqtt_password = password
mqtt_topic = OpenCvCam